<div class="main_slider_wrapper index2_slider_wrapper slider-area">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-captions caption-1">
                    <div class="container jn_container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="content">

                                    <h1 data-animation="animated fadeInUp">sound,</h1>

                                    <h2 data-animation="animated fadeInUp">The greatest music show</h2>
                                    <p data-animation="animated fadeInUp">Even while listening to music, simply say “Olivia”
                                        <br> to interact with Olivia. </p>
                                    <div class="slider_btn ms_cover">
                                        <div class="lang_apply_btn">
                                            <ul>
                                                <li data-animation="animated fadeInUp">
                                                    <a href="https://www.youtube.com/embed/ryzOXAO0Ss0" class="gc_main_navigation test-popup-link button"> <i class="flaticon-play-button"></i>play vast</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                    <!-- trending songs -->
                                    <div data-animation="animated fadeInUp" class="slider_treanding_stop ms_cover">
                                        <div class="slider_trending_heading">
                                            <h1>treanding songs</h1>
                                        </div>
                                        <div class="treanding_song_slider">
                                            <div class="owl-carousel owl-theme">

                                                <div class="item">
                                                    <div class="treanding_slider_main_box ms_cover">
                                                        <img src="images/td1.png" alt="img">
                                                        <div class="ms_treanding_box_overlay">
                                                            <div class="ms_tranding_box_overlay"></div>
                                                            <div class="ms_tranding_more_icon">
                                                                <i class="flaticon-menu"></i>
                                                            </div>
                                                            <ul class="tranding_more_option">
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                                            </ul>
                                                            <div class="tranding_play_icon">
                                                                <a href="#">
                                                                    <i class="flaticon-play-button"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <div class="treanding_slider_main_box ms_cover">
                                                        <img src="images/td2.png" alt="img">
                                                        <div class="ms_treanding_box_overlay">
                                                            <div class="ms_tranding_box_overlay"></div>
                                                            <div class="ms_tranding_more_icon">
                                                                <i class="flaticon-menu"></i>
                                                            </div>
                                                            <ul class="tranding_more_option">
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                                            </ul>
                                                            <div class="tranding_play_icon">
                                                                <a href="#">
                                                                    <i class="flaticon-play-button"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <div class="treanding_slider_main_box ms_cover">
                                                        <img src="images/td3.png" alt="img">
                                                        <div class="ms_treanding_box_overlay">
                                                            <div class="ms_tranding_box_overlay"></div>
                                                            <div class="ms_tranding_more_icon">
                                                                <i class="flaticon-menu"></i>
                                                            </div>
                                                            <ul class="tranding_more_option">
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                                            </ul>
                                                            <div class="tranding_play_icon">
                                                                <a href="#">
                                                                    <i class="flaticon-play-button"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <div class="treanding_slider_main_box ms_cover">
                                                        <img src="images/td4.png" alt="img">
                                                        <div class="ms_treanding_box_overlay">
                                                            <div class="ms_tranding_box_overlay"></div>
                                                            <div class="ms_tranding_more_icon">
                                                                <i class="flaticon-menu"></i>
                                                            </div>
                                                            <ul class="tranding_more_option">
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                                            </ul>
                                                            <div class="tranding_play_icon">
                                                                <a href="#">
                                                                    <i class="flaticon-play-button"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <div class="treanding_slider_main_box ms_cover">
                                                        <img src="images/td5.png" alt="img">
                                                        <div class="ms_treanding_box_overlay">
                                                            <div class="ms_tranding_box_overlay"></div>
                                                            <div class="ms_tranding_more_icon">
                                                                <i class="flaticon-menu"></i>
                                                            </div>
                                                            <ul class="tranding_more_option">
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                                            </ul>
                                                            <div class="tranding_play_icon">
                                                                <a href="#">
                                                                    <i class="flaticon-play-button"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <div class="treanding_slider_main_box ms_cover">
                                                        <img src="images/td6.png" alt="img">
                                                        <div class="ms_treanding_box_overlay">
                                                            <div class="ms_tranding_box_overlay"></div>
                                                            <div class="ms_tranding_more_icon">
                                                                <i class="flaticon-menu"></i>
                                                            </div>
                                                            <ul class="tranding_more_option">
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                                                <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                                            </ul>
                                                            <div class="tranding_play_icon">
                                                                <a href="#">
                                                                    <i class="flaticon-play-button"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>